@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "soluciones-andes";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #EAFDFC;
  --color-base-200: oklch(0.973 0.033 193.0);
  --color-base-300: oklch(0.909 0.031 193.0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #1E466C;
  --color-primary-content: oklch(98% 0.031 120.757);
  --color-secondary: #0CA1A4;
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #06403e;
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(59% 0.249 0.584);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
